

<div class="slideout-menu">
    <div class="hamPos">

 <a href="#" class="slideout-menu-toggle hamburgerIn"><i class="fa fa-bars" aria-hidden="true"></i></a>
</div>
<div class="sideBarView">

<div class="navBarCollumn">
    <div class="navText">
        <a ui-sref="wod"> <i class="sidebarIcon fa fa-bolt" aria-hidden="true"></i>
      Wod</a>


    </div>

</div>
<div class="navBarCollumn" ng-model='admin' ng-if='admin'>
    <div class="navText">
        <a ui-sref="addWod"><i class="sidebarIcon fa fa-plus" aria-hidden="true"></i>
Add Wod</a>

    </div>

</div>
<!-- <div class="navBarCollumn">
    <div class="navText">
        <a ui-sref="scheduale"><i class="sidebarIcon fa fa-calendar-minus-o" aria-hidden="true"></i>
    Scheduale</a>

    </div>

</div> -->
<div class="navBarCollumn" ng-model='admin' ng-if='!admin'>
    <div class="navText">
        <a ui-sref="checkIn"><i class="sidebarIcon fa fa-check" aria-hidden="true"></i>
    Check In</a>

    </div>

</div>
<div class="navBarCollumn" >
    <div class="navText">
        <a ui-sref="account"><i class="sidebarIcon fa fa-wheelchair" aria-hidden="true"></i>
    Profile</a>

    </div>

</div>
<div class="navBarCollumn">
    <div class="navText">
        <a ui-sref="settings"><i class="sidebarIcon fa fa-cog" aria-hidden="true"></i>
Settings</a>

    </div>

</div>

</div>

</div>
<button class="slideout-menu-toggle hamburger"><i class="fa fa-bars" aria-hidden="true"></i></button>
