
<div class="signInImage">
    <div class="loginScreen1">

<div class="loginBox">
<input id='userNameLogin'type="text" placeholder="Name" ng-model="newUser.name">
</div>

<div class="loginBox  ">
<input id='userNameLogin'type="email" placeholder="Email" ng-model="newUser.email">
</div>
<div class="item item-input">
<input id='userNameLogin'type="text" placeholder="Username" ng-model="newUser.username">
</div>
<div class="item item-input">
<input id='userNameLogin'type="password" placeholder="Password" ng-model="newUser.password">
</div>
<!-- <button class="" id="submitBut" ng-click="signUp(newUser)">
Sign up
</button> -->
<button ng-click="signUp(newUser)" class='loginButton1'><div class='submitText'>Sign Up</div></button>
</div>

</div>
